[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
    url = git://github.com/plasticboy/vim-markdown.git
[submodule "git-aware-prompt"]
	path = git-aware-prompt
	url = git@github.com:rtaibah/git-aware-prompt.git
