[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
    url = git://github.com/plasticboy/vim-markdown.git
[submodule "git-aware-prompt"]
	path = git-aware-prompt
	url = git@github.com:rtaibah/git-aware-prompt.git
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/zenburn"]
	path = .vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
